<div class="panel-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Campaign Name</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> May 8 2015 3:51pm</small>
                    </p>
                </div>
                <div class="timeline-body">
                    <ul>
                        <li><strong>Type:</strong> Redeemable</li>
                        <li><strong>Start Date:</strong> May 12 12:00am</li>
                        <li><strong>End Date:</strong> June 12 12:00pm</li>
                        <li><strong>Send to mobile?</strong> No</li>
                        <li><strong>Views:</strong> 0</li>
                        <li><strong>Redemptions:</strong> 0</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Campaign Name</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> May 8 2015 4:37pm</small>
                </div>
                <div class="timeline-body">
                    <ul>
                        <li><strong>Type:</strong> Promotion</li>
                        <li><strong>Start Date:</strong> May 30 12:00am</li>
                        <li><strong>End Date:</strong> July 30 12:00pm</li>
                        <li><strong>Send to mobile?</strong> Yes</li>
                        <li><strong>Views:</strong> 0</li>
                        <li><strong>Redemptions:</strong> 0</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>