<div class="create-campaign">
	<div class="create-campaign-title">
		<h2>Create Campaign</h2>
		<hr>
	</div>
	<div class="row">
		<div class="col-md-6 mhp-step">
			<div class="image-container">
				<img ng-src="{{imageSrc}}">
				<div>
					<a href>Click here to add an image</a>
					<input id="input-file-mph" type="file" file-model="model.myFile" ng-file-select="onFileSelect($files)" image-src="imageSrc">
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<input class="form-control" ng-model="model.name" placeholder="Name" type="text" required>
			</div>
			<div class="form-group">
				<select class="form-control" ng-init="model.type = 'reedeemable'" ng-model="model.type">
					<option value="reedeemable">Reedeemable</option>
					<option value="info">Info</option>
				</select>
			</div>
			<div class="form-group row">
				<div class="col-md-6">
					<p class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="col-md-6">
					<timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
				</div>
			</div>
		</div>