/* Less file for login*/
.absolute-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: @primary-color;

	.container {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: -158px;	
	}
}