<div class="absolute-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">VRÜM</h3>
          </div>
          <div class="panel-body">
            <h4 class="panel-title">Please Sign In</h4><br>
            <form role="form" novalidate>
              <fieldset>
                <div class="form-group">
                  <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="model.email" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" ng-model="model.password" value="">
                </div>
                <div class="checkbox">
                  <label>
                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                  </label>
                </div>
                <!-- Change this to a button or input when using this as a form -->
                <a ng-click="model.onLogin()" class="btn btn-lg wrum-positive-button btn-block">Login</a>
                <h5 class="pull-right">I want to <a href="#" ui-sref="signup">create an account</a></h5>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>