/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */



/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@primary-color: #89ac84;
@secondary-color: #fd9893;
@third-color: #fff;