<div class="absolute-container">
	<div class="container signup-container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">VRÜM</h3>
					</div>
					<div class="panel-body">
						<h4 class="panel-title">Sign Up! Your customers are looking for you!</h4><hr>
						<div class="steps-container row">
							<ul class="nav nav-tabs nav-justified col-md-10">
								<li role="presentation" ng-click="model.onClickStep(0)" ng-class="{'active':model.isSelected(0), 'disabled': model.isDisabled(0)}">
									<a href>
										<h5>Step 1</h5>
										<p>Vendor information</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(1)" ng-class="{'active':model.isSelected(1), 'disabled': model.isDisabled(1)}">
									<a href>
										<h5>Step 2</h5>
										<p>Contact information</p>
									</a>
								</li>
								<!-- <li role="presentation" ng-click="model.onClickStep(2)" ng-class="{'active':model.isSelected(2), 'disabled': model.isDisabled(2)}">
										<a href>
												<h5>Step 3</h5>
												<p>Billing information</p>
										</a>
								</li> -->
								<li role="presentation" ng-click="model.onClickStep(2)" ng-class="{'active':model.isSelected(2), 'disabled': model.isDisabled(2)}">
									<a href>
										<h5>Step 3</h5>
										<p>Confirm and finish</p>
									</a>
								</li>
								<li role="presentation" ng-click="model.onClickStep(3)" ng-class="{'active':model.isSelected(3), 'disabled': model.isDisabled(3)}">
									<a href>
										<h5>Step 4</h5>
										<p>Mobile home page</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="panel-body">
							
						</div>
						<!-- Vendor Information step -->
						<form role="form" ng-show="model.isSelected(0)" novalidate>
							<fieldset>
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.name" placeholder="Name of bussiness" type="text" autofocus required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.address1" placeholder="Address 1" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.address2" placeholder="Address 2" type="text">
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.city"  placeholder="City" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.state"  placeholder="State" type="text" required>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.zipCode" placeholder="Zip Code" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.bussiness.phone" placeholder="Bussiness phone" type="text" required>
									</div>
									<div class="form-group">
										<label>Hours of operation</label>
										<textarea ng-model="model.bussiness.hoursOperation" class="form-control" rows="2"></textarea>
									</div>
									<div class="form-group row">
										<div ng-class="{'col-md-12':model.isSelected(3), 'col-md-6':!model.isSelected(3)}" ng-hide="model.isSelected(0)">
											<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Back</a>
										</div>
										<div ng-class="{'col-md-12':model.isSelected(0), 'col-md-6':!model.isSelected(0)}" ng-hide="model.isSelected(3)">
											<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Next</a>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- Contact Information step -->
						<form role="form" ng-show="model.isSelected(1)" novalidate>
							<fieldset>
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" ng-model="model.contact.name" placeholder="Name" type="text" autofocus required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.contact.lastName"  placeholder="Last name" type="text" required>
									</div>
									<div class="form-group">
										<input class="form-control" ng-model="model.contact.phone" placeholder="Phone" type="text" required>
									</div>
									<!-- <div class="form-group">
											<input class="form-control" ng-model="model.contact.username" placeholder="Username" type="text" required>
									</div> -->
								</div>
								
								<div class="col-md-6">
									<div class="featured">
										<div class="form-group">
											<input class="form-control" ng-model="model.contact.email" placeholder="Email" type="text">
										</div>
										<div class="form-group">
											<input class="form-control" ng-model="model.contact.password" placeholder="Password" type="password" required>
										</div>
										<div class="form-group">
											<input class="form-control" ng-model="model.contact.confirmationPassword" placeholder="Password Confirmation" type="password" required>
										</div>
									</div>
									
									<div class="form-group row">
										<div ng-class="{'col-md-12':model.isSelected(3), 'col-md-6':!model.isSelected(3)}" ng-hide="model.isSelected(0)">
											<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Back</a>
										</div>
										<div ng-class="{'col-md-12':model.isSelected(0), 'col-md-6':!model.isSelected(0)}" ng-hide="model.isSelected(3)">
											<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Next</a>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
						<!-- Billing step -->
						<!-- <form role="form" ng-show="model.isSelected(2)" novalidate>
								<fieldset>
										<div class="col-md-6">
												<div class="form-group">
														<input class="form-control" ng-model="model.billing.card.number" placeholder="Card number" type="number" autofocus required>
												</div>
												<div class="form-group">
														<input class="form-control" ng-model="model.billing.card.security" placeholder="Security code" type="number" required>
												</div>
												<div class="form-group row">
														<div class="col-md-6">
																	<input class="form-control" ng-model="model.billing.card.expirate.month" placeholder="Expiration Month" type="number" required>
														</div>
														<div class="col-md-6">
																<input class="form-control" ng-model="model.billing.card.expirate.year" placeholder="Expiration Year" type="number" required>
														</div>
														
												</div>
												<div class="form-group">
														<input class="form-control" ng-model="model.billing.address" placeholder="Billing address" type="text" required>
												</div>
										</div>
										
										<div class="col-md-6">
												<div>
														<div class="form-group">
																<input class="form-control" ng-model="model.billing.firstName" placeholder="First Name" type="text">
														</div>
														<div class="form-group">
																<input class="form-control" ng-model="model.billing.lastName" placeholder="Last Name" type="text" required>
														</div>
														<div class="form-group" style="visibility: hidden;">
																<input class="form-control" ng-model="model.billing.dummy3" placeholder="Dummy Info 3" type="text" required>
														</div>
												</div>
												
												<div class="form-group row">
														<div ng-class="{'col-md-12':model.isSelected(3), 'col-md-6':!model.isSelected(3)}" ng-hide="model.isSelected(0)">
																<a ng-click="model.back()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Back</a>
														</div>
														<div ng-class="{'col-md-12':model.isSelected(0), 'col-md-6':!model.isSelected(0)}" ng-hide="model.isSelected(3)">
																<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block col-md-6">Next</a>
														</div>
												</div>
										</div>
								</fieldset>
						</form> -->
						<!-- Confirm step -->
						<div class="row info-container" ng-show="model.isSelected(2)">
							<div class="col-md-6">
								<a href>
									<div ng-click="model.setSelected(0)">
										<h4><strong>Bussiness Information</strong> <span>[edit]</span></h4>
										<h5><strong>Name</strong></h5>
										<h6>{{model.bussiness.name}}</h6>
										<h5><strong>Address</strong></h5>
										<h6>{{model.bussiness.address1}}</h6>
										<h6 ng-show"model.bussiness.address2">{{model.bussiness.address2}}</h6>
										<h5><strong>Ubication</strong></h5>
										<h6>{{model.bussiness.city}}, {{model.bussiness.state}}, {{model.bussiness.zipCode}} - {{model.bussiness.phone}}</h6>
										<h5><strong>Hours of operation</strong></h5>
										<h6>{{model.bussiness.hoursOperation}}.</h6>
									</div>
								</a>
							</div>
							<!-- <div class="col-md-4">
									<a href ng-click="model.setSelected(2)">
											<div>
													<h4><strong>Billing Information</strong> <span>[edit]</span></h4>
													<h5><strong>Card number</strong></h5>
													<h6>{{model.billing.card.number}} - {{model.billing.card.security}}</h6>
													<h5><strong>Expiration Date</strong></h5>
													<h6>{{model.billing.card.expirate.month}} - {{model.billing.card.expirate.year}}</h6>
													<h5><strong>Billing address</strong></h5>
													<h6>{{model.billing.address}}</h6>
													<h5><strong>Personal info</strong></h5>
													<h6>{{model.billing.firstName}}</h6>
													<h6>{{model.billing.lastName}}</h6>
											</div>
										<a>
									</div> -->
									
									<div class="col-md-6">
										<a href ng-click="model.setSelected(1)">
											<div>
												<h4><strong>Contact Information</strong> <span>[edit]</span></h4>
												<h5><strong>Name</strong></h5>
												<h6>{{model.contact.name}}</h6>
												<h5><strong>Phone</strong></h5>
												<h6>{{model.contact.phone}}</h6>
												<h5><strong>Email</strong></h5>
												<h6>{{model.contact.email}}</h6>
											</div>
										</a>
										
										<div class="form-group row">
											<div class="col-md-12">
												<a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block">Next</a>
											</div>
										</div>
									</div>
								</div>
								<!-- MHP step -->
								<div class="mhp-step" ng-show="model.isSelected(3)">
									<div class="col-md-6">
										
										<div class="image-container">
											<img ng-src="{{imageSrc}}">
											<div>
												<a href>Click here to add an image</a>
												<input id="input-file-mph" type="file" file-model="model.myFile" ng-file-select="onFileSelect($files)" image-src="imageSrc">
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" ng-model="model.mph.name" placeholder="Name" type="text" required>
										</div>
										<div class="form-group">
											<input class="form-control" ng-model="model.mph.slogan" placeholder="Slogan" type="text" required>
										</div>
										<div class="form-group">
											<input class="form-control" ng-model="model.mph.description" placeholder="Description" type="text" required>
										</div>
										<div class="form-group row">
											<div class="form-group col-md-6">
												<a ng-click="model.skip()" class="btn btn-lg wrum-positive-button btn-block">Skip</a>
											</div>
											<div class="form-group col-md-6">
												<a ng-click="model.updateInfo()" class="btn btn-lg wrum-positive-button btn-block">Next</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>