/* Less file for signup*/
.container .signup-container {
	margin-top: -248px;
}
.steps-container {
	.step {
		//border: solid #000 2px;
		//background-color: @primary-color;

		&:after {
			display: block;
			content: '';
			height: 4px;
			width: 100%;
			background-color: @secondary-color;
		}
		&.selected {
			&:after {
				background-color: @third-color;
			}
		}
		&.active {
			&:after {
				background-color: @primary-color;
			}
		}
	}
	.invisible {
		visibility: hidden;
	}
}

.featured {
	border: #ddd solid 1px;
  padding: 10px;
  border-radius: 10px;
  margin: -10px -10px 10px -10px;

  div:nth-last-child(1) {
  	margin-bottom: 0;
  }
}

.info-container {
	a {

		span {
			font-size: 14px;
			font-weight: lighter;
			display: none;
			font-style: italic;
		}
	
		&:link {
			color: #000 !important;
		}

		&:visited {
			color: #000 !important;
		}

		&:hover {
			color: @primary-color !important;

			span {
				display: inline-block !important;
			}
		}

		&:active {
			color: #000 !important;
		}
	}

	.wrum-positive-button:hover {
		color: #fff !important;
	}
}

.mhp-step {
	.image-container {
		width: 300px;
		height: 300px;

		margin: 0 auto;
		text-align: center;
		background-color: gainsboro;
		line-height: 300px;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}

		div {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;

			input {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				opacity: 0;
				transform: alpha(opacity=0);
			}
		}
	}
}
