<div class="dashboard-container">
  <div class="vrum-logo">
    <h1>VRÜM</h1>
  </div>

  <div class="row page-header-container" ng-init="showVendorInfo = false">
    <div class="col-lg-12">
    <a class="btn wrum-settings-button pull-right page-header" ng-click="showVendorInfo=!showVendorInfo"><i class="fa fa-cog fa-fw"></i></a>
    <a class="btn wrum-settings-button pull-right page-header"><i class="fa fa-credit-card fa-fw"></i></a>
      <h1 class="page-header">Welcome <span>{{model.vendor.name}}</span> !</h1> <h5> You are signed as: <span>{{model.vendor.email}}</span></h5>

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    
    <!-- <stats class="col-lg-4 col-md-6" number="6" comments="Followers" colour="green" type="line-chart"></stats>
    <stats class="col-lg-4 col-md-6" number="12" comments="Campaigns" colour="pink" type="user"></stats>
    <stats class="col-lg-4 col-md-6" number="18" comments="Stadistics" colour="white" type="pie-chart"></stats> -->
    <!-- <stats number="24" comments="Support tickets" colour="red" type="support"></stats> -->
  </div>

  <div class="row" ng-show="showVendorInfo">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div id="panel-campaign"class="panel-heading">
          <i class="fa fa-cog fa-fw"></i> Vendor Info 
        </div>
        <!-- <div class="row"> -->
        <h4 class="col-md-12"><strong>Bussiness Information</strong></h4>
        <!-- </div> -->
        <div class="row" ng-click="model.setSelected(0)">
          <form role="form" class="col-md-12">
          <fieldset>
          <div class="col-md-6">
            <h5><strong>Name</strong></h5>
            <input class="form-control" type="text" ng-model="model.vendor.contact_info.name">
            <h5><strong>Lastname</strong></h5>
            <input class="form-control" type="text" ng-model="model.vendor.contact_info.lastname">
            <h5>Phone</h5><input class="form-control" type="text" ng-model="model.vendor.contact_info.phone">
            <h5><strong>Address 1</strong></h5>
            <input class="form-control" type="text" ng-model="model.vendor.main_address.street1">
            <h5><strong>Address 2</strong></h5>
            <input class="form-control" type ng-model="model.vendor.main_address.street2">
          </div>
          <div class="col-md-6">
            <h5><strong>City</strong></h5><input class="form-control" type="text" ng-model="model.vendor.main_address.city">
            <h5><strong>State</strong></h5><input class="form-control" type="text" ng-model="model.vendor.main_address.state">
            <h5><strong>Zip Code</strong></h5><input class="form-control" type="text" ng-model="model.vendor.main_address.zip">
            <h5><strong>Hours of operation</strong></h5>
            <input class="form-control" type="text" ng-model="model.vendor.main_address.operation_time.text">
            <div class="row col-md-12">
              <a ng-click="model.next()" class="btn btn-lg wrum-positive-button btn-block">Save</a>
            </div>
            
          </div>
          </fieldset>
          </form>
          
        </div>
      </div>
    </div>
  </div>
  
  <!-- /.panel -->
  <div class="row" ng-init="showPreview = false">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div id="panel-campaign"class="panel-heading">
          <i class="fa fa-clock-o fa-fw"></i> Your Campaigns <a class="btn wrum-settings-button pull-right" ng-click="model.addCampaign()"><i class="fa fa-plus fa-fw"></i></a>
        </div>
        <!-- /.panel-heading -->
        <campaign-timeline ng-show="model.campaigns.length" campaigns="model.campaigns" ng-click="showPreview = !showPreview"></campaign-timeline>

        <div class="no-campaign">
          <h5><a href>You don't have active campaigns, click here or <i class="fa fa-plus fa-fw"></i> to create a new campaign</a></h5>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

    <div class="col-lg-4">
      <div class="panel panel-default" ng-show="showPreview">
        <div id="preview-campaign-container" class="panel-heading">
          <i class="fa fa-clock-o fa-fw"></i> Preview Campaign
        </div>

        <div class="preview-campaign"></div>
      </div>

      <div class="panel panel-default panel-stadistics">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> Vendor Stadistics
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Vrüm Followers
                    <span class="pull-right text-muted small"><em>0</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> Active Campaigns
                    <span class="pull-right text-muted small"><em>2</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-envelope fa-fw"></i> Total Campaigns
                    <span class="pull-right text-muted small"><em>2</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Total Redemptions
                    <span class="pull-right text-muted small"><em>0</em>
                    </span>
                </a>
            </div>
        </div>
          <!-- /.panel-body -->
      </div>

      <div class="panel panel-default panel-stadistics">
          <div class="panel-heading">
              <i class="fa fa-bell fa-fw"></i> Wrüm Stadistics
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> Vrüm Followers
                    <span class="pull-right text-muted small"><em>0</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> Active Campaigns
                    <span class="pull-right text-muted small"><em>2</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-envelope fa-fw"></i> Total Campaigns
                    <span class="pull-right text-muted small"><em>2</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-tasks fa-fw"></i> Total Redemptions
                    <span class="pull-right text-muted small"><em>0</em>
                    </span>
                </a>
            </div>
        </div>
          <!-- /.panel-body -->
      </div>
    </div>

  </div>
  <!-- /.row -->
</div>