/* Less file for dashboard*/
#panel-campaign {
	position: relative;
	height: 56px;
	font-size: 22px;
	line-height: 34px;
}

.page-header-container {
	h1, h5 {
		display: inline-block;
	}

	h5 {
		margin-left: 20px;
		span {
			color:gray;
		}
	}

	h1 {
		span {
			color:gray;
		}
	}
}

.preview-campaign {
	min-height: 400px;
}

.panel-stadistics {
	.list-group {
		margin-bottom: 0;
	}
}

#preview-campaign-container {
	position: relative;
	height: 56px;
	font-size: 22px;
	line-height: 34px;
}

.dashboard-container {
	margin-top: 70px;
	
	.vrum-logo {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		background-color: #89ac84;
		color: white;

		h1 {
			margin: 20px 0;
		}
	}
}

.no-campaign {
	text-align: center;
	a {
		height: 200px;
		line-height: 200px;
	}
	
}