<!DOCTYPE html>
<html ng-app="vrumProject" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <title ng-bind="pageTitle"></title>

  <!-- font awesome from BootstrapCDN -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
</head>
<body>
<!--
  <header>
    <nav class="container navbar-default">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="about">About</a>
        </li>
      </ul>
    </nav>
  </header>
-->
  <div class="container" ui-view="main"></div>
</body>
</html>
