<h1>Home of Vrum project</h1>

<p>Code it up</p>

<p>
    <span ng-bind="model.someVar" />
    <ul>
        <li ng-repeat="item in model.someList">{{item}}</li>
    </ul>
    <button class="btn btn-primary" ng-click="model.someFunctionUsedByTheHomePage()">Click Me</button>
</p>